MDB_DATABASE=mariadb
MDB_USER=username
MDB_PASSWORD=password
MDB_ROOT_PASSWORD='root password'
MDB_HOSTNAME=mariadb
WP_URL=url
WP_ADMIN=admin
WP_USER=user
WP_ADMIN_PASSWORD='admin password'
WP_USER_PASSWORD='user password'
PMA_BLOWFISH_SECRET='secret'
LOGIN='42 login'
DOMAIN_NAME='domain name'

# phpmyadmin configuration
PMA_HOST=mariadb
PMA_USER='mariadb user'
PMA_PASSWORD='mariadb password'
PMA_ABSOLUTE_URI=http://localhost:8080
